<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingyueTech.dao.PostDetailMapper" >
  <resultMap id="BaseResultMap" type="com.mingyueTech.entity.PostDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="post_type" property="postType" jdbcType="VARCHAR" />
    <result column="post_num" property="postNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, post_type, post_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from post_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from post_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mingyueTech.entity.PostDetail" >
    insert into post_detail (id, order_id, post_type, 
      post_num)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{postType,jdbcType=VARCHAR}, 
      #{postNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mingyueTech.entity.PostDetail" >
    insert into post_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="postType != null" >
        post_type,
      </if>
      <if test="postNum != null" >
        post_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="postType != null" >
        #{postType,jdbcType=VARCHAR},
      </if>
      <if test="postNum != null" >
        #{postNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mingyueTech.entity.PostDetail" >
    update post_detail
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="postType != null" >
        post_type = #{postType,jdbcType=VARCHAR},
      </if>
      <if test="postNum != null" >
        post_num = #{postNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mingyueTech.entity.PostDetail" >
    update post_detail
    set order_id = #{orderId,jdbcType=VARCHAR},
      post_type = #{postType,jdbcType=VARCHAR},
      post_num = #{postNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>